@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
:root {
    --borderRadius: 10px;
}

body {
    margin: 0;
    background-image: url(images/background-image/adrian-infernus-GLf7bAwCdYg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.display {
    display: grid;
    width: 600px;
    height: 500px;
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr;
    border-radius: var(--borderRadius);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.32);
}


/* Superior part of Grid*/

.part1 {
    background-color: white;
    border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
    font-family: 'Baloo Chettan 2', cursive;
}

.part1-content {
    display: inline-block;
    position: relative;
    left: 50px;
    margin-top: 10px;
}

.part1 h1 {
    font-size: 1.7em;
    font-weight: bold;
    color: rgb(0, 111, 214);
}

.part1 .green-mensage {
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(125, 192, 0);
    margin-bottom: 15px;
}

.part1 p {
    font-size: 1em;
    color: rgb(101, 109, 109);
    margin-bottom: 3px;
    margin-top: 5px;
}


/*Inferior part of Grid*/

.price-why {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgb(218, 216, 216);
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

#price {
    background-color: rgb(0, 135, 153);
    border-radius: 0px 0px 0px var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
}

#price h1 {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#price #month-price {
    font-size: 2em;
    font-weight: bold;
}

#price #per-month {
    margin-left: 5px;
    color: rgb(179, 179, 179);
}

#price p {
    margin-top: 2px;
    font-weight: bold;
}

#price button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(160, 255, 71);
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.32);
    border-radius: 4px;
    border: none;
    transition: 0.5s;
}

#price button:hover {
    background-color: rgb(22, 236, 22);
}

#price #content-price {
    display: inline-block;
    height: 200px;
}

#why-us {
    background-color: rgb(25, 166, 248);
    border-radius: 0 0 var(--borderRadius) 0;
}

#why-us #why-content {
    display: inline-block;
    height: 200px;
    position: relative;
    top: 45px;
    left: 30px;
}

#why-us #why-content h1 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

#why-us #why-content ul {
    padding: 0;
    margin-left: 0;
    margin-top: 5px;
}

#why-us #why-content li {
    list-style: none;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin: 1px 0 0 0;
    color: rgb(209, 209, 209);
}


/* Responsive */

@media (max-width: 650px) {
    .container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .display {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 100%;
    }
    .price-why {
        display: grid;
        grid-template-columns: 1fr;
    }
    .part1 {
        display: block;
        padding: 20px;
    }
    .part1-content {
        margin-top: 0;
        width: 100%;
        word-wrap: break-word;
        position: relative;
        left: 0;
        top: 0;
    }
    .part1-content p {
        width: 100%;
    }
    #price {
        display: block;
        border-radius: 0;
        padding: 20px;
    }
    #price #content-price {
        display: block;
        width: 100%;
        height: 90%;
        margin: 10px 0 15px 0;
    }
    #why-us {
        border-radius: 0 0 var(--borderRadius) var(--borderRadius);
        display: block;
        padding: 20px;
    }
    #why-us #why-content {
        display: block;
        left: 0;
        top: 0;
    }
}